{% extends 'base.html.twig' %}

{% block title %}GotBet - Scores{% endblock %}

{% block body %}
    <div class="jumbotrol">
        <h1 class="display-4"  style="font-family: 'viking'">Scores</h1>
        <p class="lead">Tableau des scores</br>
                        Chaque bonne réponse vous rapporte 1 point.</br>
                        Les 4 premiers remportent un cadeau ! (Un tirage au sort sera effectué en cas d'égalité)
        </p>
    </div>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-15">
        <div style="margin-left:20px;">
            <div class="card border-primary mb-3" style="max-width: 30rem;">
                <div class="card-header">{{users|length}} participants</div>
                    <div class="card-body">
                        <table id="Datatable" class="table table display">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% set ordre = 0 %}
                            {% for user in users %}
                                <tr class="score" id="{{user.id}}">
                                    <td>{% set ordre = ordre + 1 %} {{ordre}}</td>
                                    <td>{{ user.prenom }}</td>
                                    <td>{{ user.nom }}</td>
                                    <td>{{ user.score }}</td>
                                </tr>
                            {% endfor %}
                             </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready( function () {
        $('#Datatable').DataTable({
            "pageLength": 30,
                language: {
                processing:     "Traitement en cours...",
                search:         "Rechercher&nbsp;:",
                lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty:      "Aucune donnée",
                infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                infoPostFix:    "",
                loadingRecords: "Chargement en cours...",
                zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable:     "Aucune donnée disponible dans le tableau",
                paginate: {
                    first:      "Premier",
                    previous:   "Pr&eacute;c&eacute;dent",
                    next:       "Suivant",
                    last:       "Dernier"
                },
                aria: {
                    sortAscending:  ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            }
        });
    });
</script>
{% endblock %}
