<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137587802-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-137587802-1');
        </script>
        <!-- FIN Global site tag (gtag.js) - Google Analytics -->


        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenue sur GotBet!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon-32x32.png') }}" />
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/flatly/bootstrap.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/css.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        <style type="text/css">
          @font-face {
            font-family: 'viking';
            src:    url({{asset('/css/font/Game-of-Thrones.otf')}}) format('opentype');;
          }
        </style>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    </head>
    <body style="background-color: #101012">
    {{ include('got_bet/cookie-info.html.twig') }}
      <h5  class="display7" style="padding-top:10px"><a class="email" href="{{path('got_bet')}}">  GOTBET</a></h5>
      <h5 class="display8" style="padding-top:20px;padding-right:50px"> Menu </h5>
      <div class="menu"> <span></span> </div>
        <nav id="nav">
          <ul class="main">
            <li><a href="{{path('got_bet')}}">Accueil</a></li>
            {% if app.user %}
              <li><a href="{{path('questionnaire')}}">Questions</a></li>
              <li><a href="{{path('scores')}}">Scores</a></li>
              <li><a href="{{path('compte')}}">Les statistiques</a></li>
            {% endif %}
            <li><a href="{{path('about')}}">Tout savoir</a></li>
            {% if app.user %}
                <li><a href="{{path('app_logout')}}">Déconnexion</a></li>
            {% endif %}
		      </ul>
        </nav>
      <div class="overlay">
        {# Quelqu'un m'explique à quoi ça sert ?#}
      </div>

      <section>
        <div class="content">
          {# Pareil ici ?#}
        </div>
      </section>

      <section class="bgwhite">
        <div class="content">
          {# Pareil là #}
        </div>
      </section>

      {%  block body %}
      
      {% endblock %}

      {% block script %}
      
      {% endblock %}
      
      <script>
        $(document).ready(function() { 
          $('.menu, .overlay').click(function () {
            $('.menu').toggleClass('clicked');
            $('#nav').toggleClass('show');
          });
        })
      </script>
      <script src="{{ asset('js/nav.js') }}"></script>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

      <div>
        <span class="phraseCopyright">
          La vidéo, les images utilisées proviennent de HBO et cette première est la bande-annonce officielle de la saison 8 diffusée sur youtube.
          Ce site internet est à but non lucratif, et dans le cadre d'un projet d'étude en licence ASI.
        </span>
      </div>

  </body>
</html>
